<div class="cart-item">
    <div>
        <a routerLink="/products/{{ product.id }}"> <img src="{{ product.url }}" /> </a>
    </div>
    <div class="cart-item-details">
        <div>{{ product.name }}</div>
        <br />
        <br />
        <div>{{ product.price }}</div>
        <br />
        <br />
        <input name="quantity" type="number" [(ngModel)]="quantity" (ngModelChange)="handleQuantityChanged($event)" />
        <br />
        <br />
        <div class="subTotal"> SubTotal: {{ product.price * quantity }}</div>
    </div>
</div>