<div class="order-container" *ngIf="orderDetails?.cart?.items!== null">
    <div class="order-items">
        <div class="order-header"> {{orderDetails.fullName}}!</div>
        <div class="order-item">
            <form>
                <a routerLink="/"> <button class="button"> Get back to the product store! </button> </a>
            </form>
        </div>
    </div>
</div>

<div class="order-container" *ngIf="!orderDetails || orderDetails?.cart?.items=== null">
    <div class="order-items">
        <div class="order-header"> There is no order yet!</div>
        <div class="order-item">
            <p>Why not a look at <a routerLink="/"> Look at what we have in stock! </a>? </p>
        </div>
    </div>
</div>