<div>
  <form class="cart-panel" #orderForm="ngForm" (ngSubmit)="sendOrder()">
    <br />
    <div>
      <label for="full-name">Full name</label><br />
      <input type="text" name="full-name" [(ngModel)]="fullname" placeholder="Homer Simpson" required minlength="6" #nameField="ngModel">
    </div>
    <br />
    <div>
      <label for="address">Address</label><br />
      <input type="text" name="address" [(ngModel)]="address" placeholder="742 Evergreen Terrace, Springfield" required minlength="12" #addressField="ngModel">
    </div>
    <br />
    <div>
      <label for="credit-card-number">Credit card number</label><br />
      <input type="string" name="credit-card" [(ngModel)]="creditCardNumber" placeholder="16 digits" required pattern="^[0-9]{16,}$" minlength="16" maxlength="16" #creditCardNumberField="ngModel" (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
    </div>
    <br />
    <button type="submit" class="button" [disabled]="orderForm.invalid">Send order</button>
  </form>
</div>