<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- cart element -->
            <app-cart-item *ngFor="let cartItem of cartItemList" [product]="cartItem.product" [quantity]="cartItem.quantity" (quantityEmitter)="handleQuantityChanged($event)" (removalEmitter)="handleProductRemovedFromCart($event)">
            </app-cart-item>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-4">
            <h3 class="Total" *ngIf="cartItemList !== undefined && cartItemList.length !== 0">Total: {{ cart.cartPriceTotal }}</h3>
            <!-- <h3>Total: ${{ getTotal() }}</h3> -->
            <button class="btn btn-outline-dark" (click)="checkout()">Checkout</button>
        </div>
    </div>
</section>